
.navbar-brand img{
  width: 220px;
}


.carta{
  padding: 20px;
}

.card.col-md-4.col-lg-3.mb-3 {
  padding: 10px;
  padding-right: 10px;
}

.card-img, .card-img-top {
max-height: 250px;
aspect-ratio: 16 / 9;
}

.buscador{
  display: flex; 
  align-items: center; 
}

.buscador-input {
  flex-grow: 1; 
  margin-right: 8px; 
  padding: 8px; 
}

.buscador-button {
  padding: 8px 16px;
  cursor: pointer;
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 4px; 
}

.buscador-button:hover {
  background-color: #0056b3;
}
